h1 {
    text-align: center;
    font-family: 'Roboto';
    font-size: 36px;
    color: darkblue;
}
h2 {
    text-align: left;
    font-family: 'Roboto';
    font-size: 36px;
    color: darkblue;
}
body {
    background-color: lightgray;
}
.header{
    border: 5px outset midnightblue;
    background-color: lavender;
    text-align: center;
}
.landingContainer {
    font-family: "Arial";
    text-align: center;
    margin-right: 600px;
    margin-left: 250px;
    margin-top: 250px;
    background-color: burlywood;
}
.projectContainer {
    font-family: "Arial";
    text-align: left;
    margin-right: 650px;
    margin-left: 250px;
    margin-top: 250px;
    background-color: burlywood;
}
.maroonVid {
    position: absolute; 
    right: 200px;
    top: 250px;
}
.aggieVid {
    position: absolute; 
    right: 150px;
    top: 700px;
}
